<h1>Senators</h1>
<!--
<table matSort (matSortChange)='sortData($event)' >
  <tr>
    <th mat-sort-header='name'> Name </th>
    <th mat-sort-header='party'> Party </th>
    <th mat-sort-header='state'> State </th>
    <th mat-sort-header='age'> Age </th>
  </tr>
  <tr *ngFor='let senator of senators'>
    <td>{{ senator.name }}</td>
    <td>{{ senator.party | abbrevToParty }}</td>
    <td>{{ senator.state | abbrevToState }}</td>
    <td>{{ senator.date_of_birth | dateToAge }}</td>
  </tr>
</table>
-->

<mat-table [dataSource]='dataSource' #senatorTable senatorTable matSort class="mat-elevation-z8">
  <ng-container matColumnDef="first_name">
    <mat-header-cell *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.first_name }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="last_name">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.last_name }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="party">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Party </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.party | abbrevToParty }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="state">
    <mat-header-cell *matHeaderCellDef mat-sort-header> State </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.state | abbrevToState }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="age">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Age </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.date_of_birth | dateToAge }} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
